
#mobileIcon{
/* background-image: url('C:\Net_Prizm\net_prizm\src\Assets\phone.png'); */
width: 50px;
height: 50px;
cursor: pointer;
background-repeat: no-repeat;

}

#uebtn{
    position: absolute;
    margin-left: 210px;
    z-index: 1000;
    display:flex;

}


     
   